// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import " bootstrap ";
@import "font-awesome";

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Ubuntu';
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(#e72e7e, #8f1251); 
 }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
  }